.video__sidebar {
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
}

.videoSideBar__options {
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 440px ) {
    .video__sidebar {
      top: 46%;
    }
  }