.video__footer {
    position: relative;
    bottom: 20%;
    color: white;
    margin-left: 30px;
}

.videoFooter__text h3 {
    padding-bottom: 20px;
}

.videoFooter__text p {
    padding-bottom: 20px;
}

.videoFooter__music {
    display: flex;
}

.videoFooterMusic__text {
    width: 80%;
    overflow-x: hidden;
}

.videoFooterMusic__text p {
    animation: mooveTheText 2s infinite linear;
}

.videoFooter__record {
    animation: spinTheRecord 3s infinite linear;
    position: absolute;
    bottom: 5px;
    right: 20px;
    height: 50px;

    /* mudando a cor do fundo da imagem */
    filter: invert(1);
}

/* animando o vinil */
@keyframes spinTheRecord {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* animando o titulo da musica */
@keyframes mooveTheText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}